*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.name{
    border: none;
}
input{
    margin-top:0.5rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    border:none;
}
.submit_btn{
    border: none;
    background-color: white;
    color:black;
    transition: 0.75s;
}
.submit_btn:hover{
    background-color: black;
    color:white;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry{
    margin-top:0.5rem;   
}
.astriek{
    color: red;
}
.note{
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}
.heading{
    text-align: center;
}
.gender{
    margin-top:0.5rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    border:none;
}
.marriage{
    margin-top:0.5rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    border:none;
}
.correspondence{
    width:35rem;
}
.permanent{
    width:35rem;
}